socketexample.json
[
    {
        "id": "86acbeec.5bc22",
        "type": "tab",
        "label": "Socket Example"
    },
    {
        "id": "77d92ac8.1ab774",
        "type": "websocket out",
        "z": "86acbeec.5bc22",
        "name": "WS Angular",
        "server": "9e3873f7.8773b",
        "client": "",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "e590f45f.9c16c8",
        "type": "inject",
        "z": "86acbeec.5bc22",
        "name": "Peter injector",
        "topic": "",
        "payload": "{\"name\" : \"Peter\", \"email\" : \"a@b.com\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "77d92ac8.1ab774"
            ]
        ]
    },
    {
        "id": "8f5ed732.56e1b8",
        "type": "http response",
        "z": "86acbeec.5bc22",
        "name": "",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "a0791e19.e7038",
        "type": "http in",
        "z": "86acbeec.5bc22",
        "name": "Listen to Angular",
        "url": "/angular",
        "method": "get",
        "swaggerDoc": "",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "debf066a.ae7488"
            ]
        ]
    },
    {
        "id": "debf066a.ae7488",
        "type": "template",
        "z": "86acbeec.5bc22",
        "name": "Mini form",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<link rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css\">\n<link rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css\">\n<div class=\"container\">\n    <div class=\"row\">\n        <div class=\"col-3\">&nbsp;</div>\n        <div class=\"col-6\">\n            <form class=\"form-horizontal\" method=\"POST\" action=\"/angular\">\n                <fieldset>\n                    <legend>Contact Details</legend>\n                    <div class=\"form-group\">\n                        <label for=\"name\" class=\"control-label col-sm-2\">Name</label>\n                        <div class=\"col-sm-8\">\n                            <input type=\"text\" class=\"form-control\" id=\"name\" name=\"name\" placeholder=\"Your Name please\" required=\"\" />\n                            <p class=\"help-block\">How are you called?</p>\n                        </div>\n                    </div>\n                    <div class=\"form-group\">\n                        <label for=\"email\" class=\"control-label col-sm-2\">eMail</label>\n                        <div class=\"col-sm-8\">\n                            <input type=\"email\" class=\"form-control\" id=\"email\" name=\"email\" placeholder=\"Your email\" required=\"\" />\n                            <p class=\"help-block\">We don't share - promised!</p>\n                        </div>\n                    </div>\n                    <div class=\"form-group\">\n                        <label for=\"save\" class=\"control-label col-sm-2\">Just do it!</label>\n                        <div class=\"col-sm-8\">\n                            <button type=\"submit\" id=\"save\" class=\"btn btn-primary\" aria-label=\"Save\">Save</button>\n                        </div>\n                    </div>\n                </fieldset>\n            </form>\n        </div>\n        <div class=\"col-3\">&nbsp;</div>\n    </div>\n</div>",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "8f5ed732.56e1b8"
            ]
        ]
    },
    {
        "id": "32200c34.fd7d74",
        "type": "http response",
        "z": "86acbeec.5bc22",
        "name": "",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "1c917f40.894d11",
        "type": "http in",
        "z": "86acbeec.5bc22",
        "name": "Receive angular",
        "url": "/angular",
        "method": "post",
        "swaggerDoc": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "77d92ac8.1ab774",
                "d9cfed8d.1e38b"
            ]
        ]
    },
    {
        "id": "d9cfed8d.1e38b",
        "type": "template",
        "z": "86acbeec.5bc22",
        "name": "Submission thx",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<link rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css\">\n<link rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css\">\n<div class=\"container\">\n    <div class=\"row\">\n        <div class=\"col-3\">&nbsp;</div>\n        <div class=\"col-6\">\n            <legend>Thank you for your submission</legend>\n            {{payload.name}}<br />\n            {{payload.email}}<br />\n            Submit <a href=\"/angular\">more</a>\n        </div>\n        <div class=\"col-3\">&nbsp;</div>\n    </div>\n</div>",
        "x": 420,
        "y": 160,
        "wires": [
            [
                "32200c34.fd7d74"
            ]
        ]
    },
    {
        "id": "d4c34d49.48498",
        "type": "websocket out",
        "z": "86acbeec.5bc22",
        "name": "What time is it",
        "server": "8180c681.316eb8",
        "client": "",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "4c098279.307edc",
        "type": "inject",
        "z": "86acbeec.5bc22",
        "name": "Send time",
        "topic": "TellTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "d4c34d49.48498"
            ]
        ]
    },
    {
        "id": "9e3873f7.8773b",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/angular",
        "wholemsg": "false"
    },
    {
        "id": "8180c681.316eb8",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/time",
        "wholemsg": "false"
    }
]
